language: python
python:
  - '2.7'
  - '3.5'
  - '3.6'

sudo: false

install: make requirements

script:
  - make quality
  - make test

deploy:
  provider: pypi
  user: rlucioni
  password:
    secure: bF7CCNhXt30J7OFYGDj8pVcUCqlS0egGsOFR/V74v2qIDApgBMnZphTleRIA2vg1lgjx/C6jsrnHV01kSpebxAKyIj4G29E9BK4oPmXnwS1Lcj/a0Kz30o9UfMcfrBa5cz2FdhcLFaatT/FRSn9hsr9ktnGaFQJW0Nu07SUJRMlMYc2IszfASsYKm8P71BPibG0mrkhqOfk+gS0e4Dy6I9eR0poe2x3mMu/ij17lB+QHqH05VVHB8s0KG961imLBQaZ+POHjOyQgn3XZmy04QcElDA+do6rbyw/09nWLc+lufvhlMZsX4ajW/6btMgM56bZFo4rKgFD6lFt3jSZTAyXAiMKoloesYBZwuKdzmSqQRYJj82I3Yfut0dwCsDC0U+2bf5NFQihDI1gBVC1D9dGqn57IHb/VhzF6ph9eq9rp5BbE0xZ/iar8cJnzoFYSip73jzyTc5iqDtZSaornELQwjOHfylYu/G222+Lqkd4pHaAfx7BCreYSzwDaCu81naFaNb4rzih2Jtjdtw0rGM9F+G7aOJICgurR5kQdJ3bF6YaoCjQEk6jV1GsFBO4KrRg0B2qJL6tSt7b4VWav/ocuKE7olxLcuFZotDeYy/61JSDSL//lbuQhV/h1kINVkQEhCCOU2mhHRZbIT0BkpKAS0Jha8FQEapoy+mf5JH4=
  distributions: sdist bdist_wheel
  on:
    tags: true
